<h1 *ngIf="cartitems.length == 0">
    Cart has no items as of now!
    </h1>

<app-cart-product *ngFor="let Product of cartitems" [product]="Product" (removefromcart)="onremovefromcart(Product)"></app-cart-product>

<p>Amount to be paid: $ {{ amount }} </p>

<button (click) = "clearCart()">Click to Clear all items from the cart</button>

<form #form="ngForm">
    <label for="full_name">Full Name: </label><br>
    <input  required minlength="10" type="text" name="full_name" id="full_name" placeholder="Enter Full Name" [ngModel]="name" (ngModelChange)="name = $event">
    <br><label for="address">Address: </label><br>
    <input  required minlength="10" type="text" name="address" id="address" placeholder="Enter Street Address" [ngModel]="address"  (ngModelChange)="address = $event">
    <br><label for="credit_card">Credit Card: </label><br>
    <input numbers-only required minlength="16" maxlength="16" type="text" name="credit_card" id="credit_card" placeholder="Enter 16 digit Credit Card number" [ngModel]="cardnum"  (ngModelChange)="cardnum= $event"> 
    <br>
    <a routerLink='/final-submit' [queryParams]="{name: name, amount:amount}">
    <input type="submit" [disabled]="form.invalid" value="Submit">
    </a>
  </form>


